.wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRouJUA-D7YdikQQM-dm3XGcsemDyduy1CvEA&usqp=CAU);
}
