.wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background-image: url(https://i.pinimg.com/originals/00/f5/8b/00f58b6aaecdaa18febc54a28f294697.jpg);
}
