.CalculatorShell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 2px;
	border-radius: 4px;
	color: black;
}

.calcButton {
	flex: 1;
}

.screenSection {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	flex: 1;
	background-color: rgb(63, 63, 63);
}

.screen {
	margin: 0;
	font-size: 50px;
	color: white;
}

p {
	padding: 10px;
}

.calcButtonTwo {
	flex: 1;
	padding: 10px 50.5px !important;
}

.hey {
	display: flex;
	width: 100%;
}

button {
	color: white;
	font-size: 30px;
	padding: 10px 20px;
	background-color: rgb(131, 131, 131);
}

button:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
	background: #4caf50;
}
