.CalculatorShell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	animation: glowing 9000ms infinite;
}

.calcButtonTwo {
	flex: 1;
	padding: 10px 49.5px !important;
}

.row {
	display: flex;
	width: 100%;
}

@keyframes glowing {
	0% {
		background-color: #49e819;
		box-shadow: 0 0 5px #49e819;
	}
	50% {
		background-color: #49e819;
		box-shadow: 0 0 40px #49e819;
	}
	100% {
		background-color: #49e819;
		box-shadow: 0 0 5px #49e819;
	}
}
