.CalculatorShell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	animation: glowing 9000ms infinite;
}

.calcButton {
	flex: 1;
}

.screenSection {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	flex: 1;
	background-color: #49e819;
	animation: glowing 9000ms infinite;
}

.screen {
	margin: 0;
	font-size: 50px;
	color: black;
}

p {
	padding: 10px;
}

.calcButtonTwo {
	flex: 1;
	padding: 10px 49.5px !important;
}

.hey {
	display: flex;
	width: 100%;
}

button {
	color: #49e819;
	font-size: 35px;
	padding: 10px 22.5px;
	background-color: black;
	border: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
	background: #49e819;
	color: black;
}
@keyframes glowing {
	0% {
		background-color: #49e819;
		box-shadow: 0 0 5px #49e819;
	}
	50% {
		background-color: #49e819;
		box-shadow: 0 0 40px #49e819;
	}
	100% {
		background-color: #49e819;
		box-shadow: 0 0 5px #49e819;
	}
}
